<div id="age-gate">
  <div style="position:relative; top:50%; transform:translateY(-50%);" class = "age-container">
    <h1>Are you over 18?</h1>
    <p>SA legislation requires alcohol buyers<br>and consumers to be over 18 years old.</p>
    <button onclick="verifyAge()" style="padding:10px 20px; font-size:16px;">I'm Legal Age</button>
    <button onclick="denyAccess()" style="padding:10px 20px; font-size:16px;">Under 18</button>
  </div>
</div>