<div id="age-gate">
  <div style="position:relative; top:50%; transform:translateY(-50%);" class = "age-container">
    <h1>{{ settings.age_header }}</h1>
    <p>{{ setting.age_content }}</p>
    <button onclick="verifyAge()" style="padding:10px 20px; font-size:16px;">I'm Legal Age</button>
    <button onclick="denyAccess()" style="padding:10px 20px; font-size:16px;">Under 18</button>
  </div>
</div>