<div id="age-gate">
  <div style="position:relative; top:50%; transform:translateY(-50%);" class = "age-container">
    <p><span style="padding:10px 20px; font-size:30px; letter-spacing: 3px !important; color: #D5C7BE;">Are you over 18?</span></p>
    
    <p>SA legislation requires alcohol buyers<br>and consumers to be over 18 years old.</p>
    <button onclick="verifyAge()" style="padding:10px 20px; font-size:16px;">I'm Legal Age</button>
    <button onclick="denyAccess()" style="padding:10px 20px; font-size:16px;">Under 18</button>
  </div>
</div>