<div id="age-gate" role="dialog" aria-modal="true" aria-labelledby="age-gate-title" hidden>
  <div style="position:relative; top:50%; transform:translateY(-50%);" class="age-container">
    <p><span class="age-header" id="age-gate-title">Are you over 18?</span></p>
    <p>SA legislation requires alcohol buyers<br>and consumers to be over 18 years old.</p>
    <button id="age-yes" class="btn" type="button" style="padding:10px 20px; font-size:16px;">I'm Legal Age</button>
    <button id="age-no" type="button" style="padding:10px 20px; font-size:16px;font-weight:700">Under 18</button>
  </div>
</div>