<div class="dare-to-be-true" loading="lazy" style="background-image: url({{ section.settings.dare-to-be-true-bg | img_url: 'large'}});">    
    <div class="sec-inner">
        <div class="container">  
            <div class="marquee-wrap">
                <div class="marquee">
                    <div class="marquee-t">{{ section.settings.marquee-t-1}}</div>
                </div>          
                <div class="marquee marquee2">
                    <div class="marquee-t">{{ section.settings.marquee-t-2}}</div>
                </div>  
            </div>        
            <div class="dare-to-be-true-bx about_background">
                {{ section.settings.dare-to-be-true-bx | image_url: width:'large'| image_tag:alt:'Dare to be true', loading:'lazy' }}
            </div>           
        </div>
    </div>
</div>
<style>
</style>
{% schema %}
  {
    "name": "About Text Scroller",
    "settings": [
	  {
        "type": "image_picker",
        "id": "dare-to-be-true-bg",
        "label": "Background Image"
      },
	  {
        "type": "image_picker",
        "id": "dare-to-be-true-bx",
        "label": "Overlay Image"
      },
	  {
        "type": "text",
        "id": "marquee-t-1",
        "label": "Scrolling Text 1"
      },

	  {
        "type": "text",
        "id": "marquee-t-2",
        "label": "Scrolling Text 2"
      }
],
  "presets": [
    {
      "name": "About Text Scroller"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
