<section class="rewards-marquee-sec hm-marquee-wrap">
  {% if  section.settings.title_text != blank %}
  <h3 style="color:{{ section.settings.Heading_color }}">{{ section.settings.title_text }}</h3>
  {% endif %}
    <div class="rewards-marquee">
        <div class="rewards-img hm-marquee">     
          {%- for block in section.blocks -%}	
			{%- assign b_i = block.settings -%}        
         <img src="{{b_i.logo_slider | img_url:'master'}}" width="150" height = "150" loading="lazy" alt="">  
          {%- endfor -%}        
        </div>
    </div> 
</section>

{% schema %}
  {
    "name": "Logos",
    "settings":[
	{
	"type":"text",
	"id":"title_text",
	"label":"Heading"
	}, 
	 {
            "type": "select",
            "id": "Heading_color",
            "label": "Heading Colour",
            "options": [
				{
                "value": "#f8f2e6",
                "label": "Light Beige"
              }, 
              {
                "value": "#ffffff",
                "label": "White"
              },
			  {
                "value": "#c0ccbe",
                "label": "Light Olive"
              },
              {
                "value": "#aac4d3",
                "label": "Light Blue"
              },
              {
                "value": "#fedcc6",
                "label": "Light Orange"
              }
            ],
            "default": "#f8f2e6"
          }
	],
    "blocks": [
      {
        "type": "item",
		"limit": 16,
        "name": "Logo",
        "settings": [
		  
          {
            "type": "image_picker",
            "id": "logo_slider",
            "label": "Upload Logo"
			
          },
		  {
            "type": "url",
            "id": "logo_link",
            "label": "Logo Link URL"
			
          }
		]
	  }
      
	],
    "presets": [
      {
        "name": "Logos",
      	"category": "Logo",
        "blocks": [
          {
            "type": "item"
          }
        ]
      }
    ]
  }
{% endschema %}
