<section class="awc-reserve" style="background:#210e21">
  <div class="container">
    <div class="awc-reserve--content">
      <h2 class="h1">Meet Our Reserve Range</h2>
      <p>
        <strong>Our
          <a href="https://alvisdrift.co.za/products/reserve-cvc">Reserve range</a>
          showcases a fusion of our trademark fresh, primary-fruit style – with just a hint of the luscious and opulent barrel-fermented style of our Albertus Viljoen Icon range.</strong>
      </p>
      <p>The wine labels on bottles from our Reserve range feature an illustration of Alvi’s Drift, the low-water bridge over the Breede River cutting through the family farm. Our patriarch, Albertus Viljoen “Oupa Alvi” van der Merwe, was instrumental in having this bridge built back in 1930.
      </p>
      <p>Oupa Alvi’s son Bertie started wine production on the family farm and today Bertie’s son, Alvi’s Drift winemaker Alvi van der Merwe produces the winery’s award-winning wines, enjoyed by wine lovers around the globe.</p>
    </div>
    <div class="awc-reserve--btn">
      <a
        class="alvisBtn"
        href="https://alvisdrift.co.za/collections/reserve-range"
        target="_blank">Explore Reserve Range</a>
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "Wine Club Reserve",
    "settings": [],
    "presets": [
      {
        "name": "Wine Club Reserve",
        "category": "Wine Club"
      }
    ]

  }
{% endschema %}