<section class="awc-join-club container">
  {% if customer %}

    <div class="awc-intro--col-v2">
      <h5 class="awc-heading-xs">You Are {{ customer_tier }}</h5>
    </div>
    <div class="awc-intro--col-v2"></div>
    <div class="awc-point-balance">
      <h3 class="h1">Your Balance</h3>

      <p>
        <strong>Point Balance:</strong>
        <div id="points-container">Loading your points...</div>
      </p>
      <p>
        <small>
          <em>*Please note that Membership point and tier updates can take up to 24 hours to update.</em>
        </small>
      </p>
    </div>
    <script src="{{ 'points-balance.js' | asset_url }}" async></script>
  {% else %}
    <div class="awc-intro--col-v2">
      <h4>Join our Alvi's Drift wine club to enjoy:</h4>
      <ul>
        <li>Members-Only Offers</li>
        <li>Exclusive Discounts</li>
        <li>Invites to One-of-a-Kind Events & Wine Tastings</li>
        <li>Exclusive Content About All Things Wine</li>
      </ul>
    </div>
    <div class="awc-intro--col-v2">
      <p>What’s more, should you progress through our Wine Club’s three tiers to become a Platinum member, you’ll enjoy 10% discount* on purchases from our online wine shop.</p>
      <p>Best of all? Our Alvi’s Drift Wine Club requires no recurring membership fees.</p>
      <small>
        <em>*Excluding selected sales and promotions. Discount is automatically deducted at check-out.</em>
      </small>
    </div>
  {% endif %}

</section>


{% schema %}
  {
    "name": "Wine Club Join Club",
    "settings": [
      {
        "type": "header",
        "content": "Bronze Tier"
      },
      {
        "type": "image_picker",
        "id": "Bronze_image",
        "label": "Bronze Tier Image"
      },
      {
        "type": "richtext",
        "id": "bronze_richtext",
        "label": "Rich Text"
      },
      {
        "type": "header",
        "content": "Silver Tier"
      }, {
        "type": "image_picker",
        "id": "Silver_image",
        "label": "Silver Tier Image"
      }, {
        "type": "richtext",
        "id": "silver_richtext",
        "label": "Rich Text"
      }, {
        "type": "header",
        "content": "Gold Tier"
      }, {
        "type": "image_picker",
        "id": "Gold_image",
        "label": "Gold Tier Image"
      }, {
        "type": "richtext",
        "id": "gold_richtext",
        "label": "Rich Text"
      }, {
        "type": "header",
        "content": "Platinum Tier"
      }, {
        "type": "image_picker",
        "id": "Platinum_image",
        "label": "Platinum Tier Image"
      }, {
        "type": "richtext",
        "id": "platinum_richtext",
        "label": "Rich Text"
      }
    ],
    "presets": [
      {
        "name": "Wine Club join club",
        "category": "Wine Club"
      }
    ]
  }

{% endschema %}