<section></section>
{% schema %}
  {
    "name": "Wine Club join club",
    "settings": [],
    "presets": [
      {
        "name": "Wine Club join club",
        "category": "Wine Club"
      }
    ]
  }

{% endschema %}