
      @font-face {
        font-family: 'Metropolis';
        src: url('//alvisdrift.co.za/cdn/shop/t/89/assets/metropolis-bold.woff2?v=76676537019999965571741293587') format('woff2')
        , url('//alvisdrift.co.za/cdn/shop/t/89/assets/metropolis-bold.woff?v=78694030048537163551741293588') format('woff');
        font-weight: 700;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: 'Metropolis';
        src: url('//alvisdrift.co.za/cdn/shop/t/89/assets/metropolis-regular.woff2?v=119545642968820601831741293588') format('woff2')
        , url('//alvisdrift.co.za/cdn/shop/t/89/assets/metropolis-regular.woff?v=181279068622381772521741293587') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: 'Metropolis';
        src: url('//alvisdrift.co.za/cdn/shop/t/89/assets/metropolis-regularitalic.woff2?v=84521762989124861881741293588') format('woff2')
        , url('//alvisdrift.co.za/cdn/shop/t/89/assets/metropolis-regularitalic.woff?v=139121676175443887161741293586') format('woff');
        font-weight: normal;
        font-style: italic;
        font-display: swap;
      }
      @font-face {
        font-family: 'Metropolis';
        src: url('//alvisdrift.co.za/cdn/shop/t/89/assets/metropolis-semibold.woff2?v=58256052539109352261741293587') format('woff2')
        , url('//alvisdrift.co.za/cdn/shop/t/89/assets/metropolis-semibold.woff?v=14423340512219238931741293586') format('woff');
        font-weight: 600;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: 'Moriarty';
        src: url('//alvisdrift.co.za/cdn/shop/t/89/assets/moriarty.woff2?v=23715788892060768621741293587') format('woff2')
        , url('//alvisdrift.co.za/cdn/shop/t/89/assets/moriarty.woff?v=60509164005808646201741293587') format('woff');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
      }