
      @font-face {
        font-family: 'Metropolis';
        src: url('//alvisdrift.co.za/cdn/shop/t/114/assets/metropolis-bold.woff2?v=76676537019999965571763588638') format('woff2')
        , url('//alvisdrift.co.za/cdn/shop/t/114/assets/metropolis-bold.woff?v=78694030048537163551763588638') format('woff');
        font-weight: 700;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: 'Metropolis';
        src: url('//alvisdrift.co.za/cdn/shop/t/114/assets/metropolis-regular.woff2?v=119545642968820601831763588638') format('woff2')
        , url('//alvisdrift.co.za/cdn/shop/t/114/assets/metropolis-regular.woff?v=181279068622381772521763588638') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: 'Metropolis';
        src: url('//alvisdrift.co.za/cdn/shop/t/114/assets/metropolis-regularitalic.woff2?v=84521762989124861881763588638') format('woff2')
        , url('//alvisdrift.co.za/cdn/shop/t/114/assets/metropolis-regularitalic.woff?v=139121676175443887161763588638') format('woff');
        font-weight: normal;
        font-style: italic;
        font-display: swap;
      }
      @font-face {
        font-family: 'Metropolis';
        src: url('//alvisdrift.co.za/cdn/shop/t/114/assets/metropolis-semibold.woff2?v=58256052539109352261763588638') format('woff2')
        , url('//alvisdrift.co.za/cdn/shop/t/114/assets/metropolis-semibold.woff?v=14423340512219238931763588638') format('woff');
        font-weight: 600;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: 'Moriarty';
        src: url('//alvisdrift.co.za/cdn/shop/t/114/assets/moriarty.woff2?v=23715788892060768621763588638') format('woff2')
        , url('//alvisdrift.co.za/cdn/shop/t/114/assets/moriarty.woff?v=60509164005808646201763588638') format('woff');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
      }